:root{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../misc/images/Background\ CompatiView\ -\ Mobile.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body{
    font-family: 'Epilogue', sans-serif;
    text-align: center;
}

main{
    margin-top: 5rem;
    margin: 2rem auto;
    align-items: center;
    justify-content: center;
}

.area_cadastro{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 2rem;
    
    margin: 0 auto;

}

form{
    background: linear-gradient(90deg, #0c0c0c67, #33078ccb, #33078ccb, #0c0c0c67);
    border: 2px solid #8c52ff;
    border-radius: 1rem;

    color: #8c52ff;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    font-weight: 800;
    
    padding-top: 0;
    padding-bottom: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
    margin: 0.2 rem;
    margin-top: 6rem;
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

img{
    scale: 0.8;
    margin: 1rem;
    padding: 0;
}

label{
    color: #ffffff;
    text-decoration: underline 1.5px #8c52ff;
}

input{
    font-weight: 700;
    color: #1a004e;

    background-color: #ffffff;

    border: 2px solid #8c52ff;
    border-radius: 1.5rem;
    padding: 1rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

input:focus{
    outline: none;
    border-color: #ffffff;
}

button{
    color: #8c52ff;
    font-weight: 800;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;

    background-color: #ffffffd8;
    border-radius: 1.5rem;
    border: 2px solid #8c52ff;
    padding: 1.5rem;
    margin-top: 2.5rem;
    transition: 0.2s;
}

button:active{
    background-color: #8c52ff;
    color: #1a004e;
    border-color: #1a004e;
    transition: 0.2s ease;
}

#fazer_login{
    color: #8c52ff;
    font-size: 1.5rem;
    text-decoration: underline 1.5px #8c52ff;
}