:root{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../misc/images/Background\ CompatiView\ -\ Mobile.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

body{
    font-family: 'Epilogue', sans-serif;
}

.navbar{
    vertical-align: top;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem;
    margin-bottom: 10rem;
}


#logo{
    scale: 0.5;
    padding: 0;
    margin: 0;
    max-width: 6rem;
    width: auto;
    height: auto;
}

#login{
    color: #8c52ff;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.2rem;
    padding: 1rem;
    transition: 0.1s ease-in-out;
}

#login:active{
    color: #6138b5;
    text-decoration: underline 2px;
    font-size: 1.8rem;
    transition: 0.1s ease-in-out;
}

#config{
    color: #8c52ff;
    font-size: 1.5rem;
    padding: 1rem;
}

#config:active{
    color: #6138b5;
    font-size: 1.8rem;
}

.cadastro_inicial{
    text-align: center;
}

h1{
    font-size: 3.5rem;
    font-weight: 800;

    color: #8c52ff;

}

h2{
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;

    color: #ffffff;

    padding: 1.0rem;
}

h3{
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 0.1rem;

    color: #ffffff;

    margin-bottom: 3.5rem;
    padding: 1.0rem;
}

.area_cadastro{
    display: flex;
    flex-direction: column;
}

#cadastro{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    color: #ffffff;
    border: 1.5px solid #f0f0f0;
    border-radius: 5.0rem;
    background-color: #8c52ff;
    padding: 1.5rem;
    margin: 1rem;
    margin-bottom: 1.0rem;
}

p{
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;
    font-weight: 400, bold;
    padding: 1rem;
}

#sem_cadastro{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400, bold;
    letter-spacing: 0.2rem;
    color: #ffffff;
    padding: 0;
    margin: 1.0rem;
}

@media (min-width: 426px){

    html{
        height: 100%;
        background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../misc/images/Background\ CompatiView.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #cadastro{
    width: 40rem;
    margin: auto;
}

}