<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="../static/style.css">  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    

    
</head>

<body>
    <header>
        <nav class="navbar">
            <a id="logo" href="index.html"><img src="../misc/images/Logo - CompatiView.png" alt="logo"></a>

            <div class="navlinks">
                <a id="login" href="login.html" target="_blank">Login</a>

                <a id="config" href="login.html"><i class="fa-solid fa-user-gear userconfig" ></i></a>
            </div>
        </nav>
    </header>

    <section class="cadastro_inicial">

        <h1>Bem-vindo ao CompatiView!</h1>
        <h2>A melhor escolha para verificar a compatibilidade entre peças para seu computador.</h2>
        <h3>Clique no botão abaixo para realizar seu cadastro e ter acesso à todos os nossos serviços:</h3>
        
        <div class="area_cadastro">
            <a id="cadastro" href="cadastro.html" target="_blank">Cadastre-se aqui</a>
            <p>ou</p>
            <a id="sem_cadastro" href="login.html" target="_blank" rel="noopener noreferrer">Utilize sem cadastro</a>
        </div>
    </section>

</body>
</html>