<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <header>
        <nav>

            <figure><img src="../misc/images/Logo - CompatiView.png" alt="logo"></figure>
            
            <button id="b_login">
                <a href="login.html" target="_blank">Login</a>
            </button>

            <button id="b_predefs">
                <a href="login.html" target="_blank">Predefinições</a>
            </button>

            <button id="b_artigos">
                <a href="login.html" target="_blank">Artigos</a>
            </button>

            <button id="b_sobre">
                <a href="login.html" target="_blank">Sobre</a>
            </button>

            <button>
                <i class="fa-solid fa-user-gear userconfig" ></i>
            </button>
        </nav>
    </header>

    <section class="cadastro_inicial">
        <h1>Bem-vindo ao CompatiView!</h1>
        <h2>A melhor escolha para verificar a compatibilidade entre peças para seu computador.
            <br>
            Clique no botão abaixo para realizar seu cadastro e ter acesso à todos os nossos serviços:
        </h2>
        <button id="b_cadastro">Cadastre-se aqui</button>
    </section>

</body>
</html>