<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <figure class="logo"><img src="../misc/images/Logo - CompatiView.png" alt="logo"></figure>
            
            <div class="navlinks">
                <a id="b_login" href="login.html" target="_blank">Login</a>

                <a id="b_predefs" href="login.html" target="_blank">Predefinições</a>

                <a id="b_artigos" href="login.html" target="_blank">Artigos</a>

                <a id="b_sobre" href="login.html" target="_blank">Sobre</a>

                <a href="login.html"><i class="fa-solid fa-user-gear userconfig" ></i></a>
            </div>
        </nav>
    </header>

    <section class="cadastro_inicial">

        <h2>Bem-vindo ao CompatiView!</h2>
        <h3>A melhor escolha para verificar a compatibilidade entre peças para seu computador.
            <br>
            Clique no botão abaixo para realizar seu cadastro e ter acesso à todos os nossos serviços:
        </h3>
        <button id="b_cadastro">Cadastre-se aqui</button>
        <br>
        <a href="login.html" target="_blank" rel="noopener noreferrer">Utilizar sem cadastro</a>
    </section>

</body>
</html>